html {
    box-sizing: border-box;
    font-family: var(--principalfont);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* VARIABLES */

:root {
    --principalfont: 'Roboto', sans-serif;
    --ColorPrincipal: rgb(4, 20, 54);
}


/* GLOBALES */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
    /* border: 2px solid black; */
}

img {
    max-width: 100%;
}

.boton {
    height: 4rem;
    width: 12rem;
    align-self: center;
    /* margin-bottom: .5rem; */
    background-color: var(--ColorPrincipal);
    border: none;
    color: white;
    text-transform: uppercase;
    transition: all .8s ease-in-out;
}

.boton:hover {
    border: 2px solid var(--ColorPrincipal);
    background-color: white;
    color: black;
}

@media screen and (min-width:768px) {
    .boton {
        height: 6rem;
        width: 16rem;
        margin-bottom: 0;
    }
}


/*###### HEADER #####*/

.header {
    background-color: var(--ColorPrincipal);
    /* margin-top: 2rem; */
}

.barra {
    /* height: 8rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

.c-logo .logo {
    width: 25rem;
    padding: 2rem;
}

.navegacion ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navegacion ul li {
    padding: .5rem;
}

.navegacion ul a {
    text-decoration: none;
    padding: .8rem;
    font-size: 1.3rem;
    color: white;
}

.navegacion ul a:hover {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

@media screen and (min-width:1000px) {
    .header {
        margin-top: 2rem;
    }
    .barra {
        height: 8rem;
        flex-direction: row;
        padding-bottom: 0;
    }
    .navegacion ul li {
        padding: 0;
    }
    .navegacion ul {
        flex-direction: row;
    }
    .navegacion ul a {
        padding: 2rem;
    }
}

@media screen and (min-width:800px) {
    .navegacion ul {
        flex-direction: row;
    }
    .navegacion ul a {
        padding: 1.5rem;
        font-size: 1.3rem;
    }
}


/* #### SLIDE NOSOTROS #### */

.slide {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(2, 1fr); */
    margin-top: 2rem;
}

.slide .imagen {
    display: flex;
    justify-content: center;
}

.slide .casaN {
    padding: 1rem;
}

.slide .nosotros {
    display: flex;
    flex-direction: column;
}

.nosotros h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin: .5rem 0rem .5rem 0rem;
}

.nosotros p {
    padding: 1rem;
    font-size: 1rem;
    text-align: justify;
}

@media screen and (min-width:800px) {
    .slide {
        grid-template-columns: repeat(2, 50%);
    }
    .nosotros h1 {
        font-size: 2.3rem;
        text-align: left;
        margin: 1rem 1rem 1.5rem 0rem;
    }
    .nosotros p {
        font-size: 1.2rem;
        text-align: left;
    }
}


/* #### MAIN #### */

.contenido-principal .subtitulo {
    font-size: 2.3rem;
    margin: 1rem;
}

.contenido-principal .ventas {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 1rem;
    flex-shrink: 1;
}

.destacada {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--ColorPrincipal);
}

.destacada .img-casa {
    display: flex;
}

.destacada .img-dest {
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.destacada .informacion-destacada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.destacada .informacion-destacada h4 {
    font-size: 2.5rem;
    text-align: center;
}

.destacada .informacion-destacada p {
    font-size: 1rem;
    padding: .5rem;
}

.destacada .informacion-destacada .precio {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.precio span {
    color: var(--ColorPrincipal);
    font-weight: 300;
}

@media screen and (min-width:700px) {
    .contenido-principal .ventas {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .destacada {
        grid-column: 1 / 3;
        grid-row: 1 /2;
        flex-direction: row;
    }
    .destacada .img-dest {
        width: 40rem;
        padding: 0;
    }
}

@media screen and (min-width:1000px) {
    .contenido-principal .ventas {
        grid-template-columns: repeat(3, 1fr);
    }
    .destacada {
        grid-column: 1 / 3;
        grid-row: 1 /2;
        flex-direction: row;
    }
    .destacada .img-dest {
        width: 70rem;
        height: 100%;
        padding: 0;
    }
    .destacada .informacion-destacada {
        padding: 0;
    }
    .destacada .informacion-destacada h4 {
        padding: 1rem;
        text-align: left;
    }
    .destacada .informacion-destacada .precio {
        padding: 2rem;
        text-align: left;
    }
}


/*### Card Casa-venta ###*/

.casa-venta {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--ColorPrincipal);
}

.casa-venta .informacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .8rem;
    height: 100%;
}

.casa-venta .informacion p {
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: center;
}

.img-casa img {
    width: 100%;
}

.informacion h4 {
    font-size: 2rem;
    padding: .5rem;
    text-align: center;
}

.casa-venta .informacion .precio {
    font-size: 1.5rem;
    padding: .5rem;
    text-align: center;
}

.informacion .precio span {
    color: var(--ColorPrincipal);
    font-weight: 300;
}

@media screen and (min-width:1000px) {
    .casa-venta .informacion {
        padding: 1rem;
    }
    .casa-venta .informacion p {
        text-align: justify;
    }
    .informacion h4 {
        padding: 0;
        text-align: left;
    }
    .casa-venta .informacion .precio {
        padding: 0rem;
        text-align: left;
    }
}


/* #### FOOTER #### */

footer {
    background-color: var(--ColorPrincipal);
    color: white;
    margin-top: 1rem;
}

.cont-footer {
    display: grid;
    grid-template-columns: 25% 25% 50%;
}


/* TIPOS PROPIEDADES */

.tipos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tipos h4 {
    font-size: 1.8rem;
    padding-top: 1rem;
}

.nav-tipos ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-tipos ul li {
    padding: .8rem;
}

.nav-tipos ul a {
    color: white;
    text-decoration: none;
}

.nav-tipos ul a:hover {
    text-decoration: underline;
}


/* CONTACTO */

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacto h4 {
    font-size: 2rem;
    padding-top: 1rem;
}

.contacto i {
    padding-right: 1rem;
    font-size: 1.2rem;
}


/* OPCIONES CASAS */

.opciones-casas {
    display: flex;
    flex-direction: column;
}

.opciones-casas h3 {
    font-size: 2rem;
    padding: 1rem;
}

.min-casas {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 200px;
    justify-content: space-between;
}

.opt-casa {
    display: flex;
    padding: .5rem;
    margin: .3rem;
}

.opt-casa .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;
    font-size: 1.3rem;
}

.opt-casa img {
    width: 8rem;
}